{{#extends "base"}}

    {{#block "content"}}
        <h1>Welcome Admin!</h1>
        <ul>
            <li>Username: {{admin.username}}</li>
        </ul>
        <a href="/admin/logout" class="btn btn-primary mt-3">Logout</a> 

    {{/block}}

{{/extends}}