{{#extends "base"}}

    {{#block "content"}}
        <h1>Welcome Admin!</h1>
        <ul>
            <li>Username: {{admin.username}}</li>
        </ul>
        <div>
            <a href="/countries" class="btn btn-success mt-3"><h3>Country List</h3></a>
        </div>
        <div>
            <a href="/medias" class="btn btn-success mt-3"><h3>Media List</h3></a>
        </div>
        <div>
            <a href="/tags" class="btn btn-success mt-3"><h3>Tag List</h3></a>
        </div>
        <div>
            <a href="/vaults" class="btn btn-success mt-3"><h3>Vault List</h3></a>
        </div>
        <div>
            <a href="/artists" class="btn btn-success mt-3"><h3>Artist List</h3></a>
        </div>
        <div>
            <a href="/arts" class="btn btn-success mt-3"><h3>Art List</h3></a>
        </div>

        <a href="/admin/logout" class="btn btn-primary mt-3">Logout</a>

    {{/block}}

{{/extends}}