{{#extends "base"}}

    {{#block "content"}}
        <h1>Welcome Admin!</h1>
        <ul>
            <li>Username: {{admin.username}}</li>
        </ul>
        <div>
            <h1>Edit Country List</h1>
            <a href="/countries" class="btn btn-success">Create</a>
        </div>

        <a href="/admin/logout" class="btn btn-primary mt-3">Logout</a>

    {{/block}}

{{/extends}}