{{#extends "base"}}

    {{#block "content"}}
        <a href="/medias" class="btn btn-lg btn-secondary">Back</a>
        <h1 class="mt-3">Update Media: {{media.name}}</h1>
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            {{{form}}}
            <input type="submit" value="Update Media" class="btn btn-primary mt-3" />
        </form>
    {{/block}}

{{/extends}}